#loginContainer{
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

#formularioLogin{
    width: 300px;
}

#ingresarBotton{
    width: 100%;
}

#errorLabel{
    text-align: center;
}

#imagenLogoEmpresa{
    width: 50%;
    padding: 5px;
}

#loader{
    width: 20px;
}

#imageContainer{
    text-align: center;
}