<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div id="container_logo" class="col-xs-12 col-sm-4 col-md-4">
                <img src="https://www.pwcimpuestosenlinea.co/Style%20Library/Images/PwCw.png" alt="logo_footer">
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 content-info">
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/estatuto']"><i class="fa fa-angle-double-right"></i>Estatuto Tributario</a></li>
                    <li><a [routerLink]="['/doctrina']"><i class="fa fa-angle-double-right"></i>Doctrina DIAN</a></li>
                    <li><a [routerLink]="['/normatividad']"><i class="fa fa-angle-double-right"></i>Leyes y Decretos Reglamentarios</a></li>
                    <li><a [routerLink]="['/tax']"><i class="fa fa-angle-double-right"></i>Textos Originales</a></li>
                    <li><a [routerLink]="['/jurisprudencia']"><i class="fa fa-angle-double-right"></i>Jurisprudencia Corte Constitucional</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 content-info">
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/contactenos']"><i class="fa fa-angle-double-right"></i>Contáctanos</a></li>
                    <li class="info">Dirección: Calle 100 #19A-50 Oficinas 704 - 705</li>
                    <li class="info">Teléfono: 6 340 555 Ext. 10410</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="info-pwc-footer">
                    PwC ayuda a las organizaciones y personas a crear el valor que están buscando. Somos una red de firmas presente en 158 países,
                    con más de 236.235 personas comprometidas a entregar calidad en los servicios de Auditoría, Impuestos
                    y Consultoría. Cuéntanos lo que te importa y encuentra más información visitando nuestra web: www.pwc.com.
                </p>
                <p class="info-pwc-footer">
                    © 2018 PricewaterhouseCoopers. PwC se refiere a las Firmas colombianas que hacen parte de la red global de PricewaterhouseCoopers
                    International Limited, cada una de las cuales es una entidad legal separada e independiente. Todos los
                    derechos reservados.
                </p>
            </div>
            <hr>
        </div>
    </div>
</section>