<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img class="logo" src="https://www.pwc.com/content/pwc/script/network/parallax/PwC-logo.svg" alt="logo"> |
        <b>Tax & Legal Times</b>
        <br>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ul-navbar">
            <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Estatuto tributario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Doctrina</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Jurisprudencia
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Jurisprudencia</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Corte constitucional</a>
                    <a class="dropdown-item" href="#">Consejo de estado</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Normatividad
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Normatividad</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Leyes y decretos <br> reglamentarios</a>
                    <a class="dropdown-item" href="#">Textos originales</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Tax & legal times
                </a>
                <div id="times" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Times</a>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <a class="dropdown-item" href="#">Home times</a>
                            <a class="dropdown-item" href="#">Lunes</a>
                            <a class="dropdown-item" href="#">Martes</a>
                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="#">Miercoles</a>
                            <a class="dropdown-item" href="#">Jueves</a>
                            <a class="dropdown-item" href="#">Viernes</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    PwC Colombia
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Sobre nosotros</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Contáctanos</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div id="parent-container-botones-acceso">
    <div id="container-botones-acceso">
        <button type="button" class="btn btn-outline-primary boton-acceso">Login</button>
        <button type="button" class="btn btn-outline-primary boton-acceso">Registro</button>
    </div>
</div>