h1{
    display: block;
    text-align: center;
}

h6{
    text-align: center;
}

.botons{
    margin: 10px;
}

#lunes{
    background-color: #602320;
    border-color: #78322E;
}

#martes{
    background-color: #E0301E;
    border-color: #F44837;
}

#miercoles{
    background-color: #DC691E;
    border-color: #F58339;
}

#jueves{
    background-color: #A32020;
    border-color: #CA4444;
}

#viernes{
    background-color: #EB8C00;
    border-color: #F6A732;
}

#taxClip{
    background-color: #DB536A;
    border-color: #F37D91;
}

#boletines{
    background-color: #968C6D;
    border-color: #B0A88E;
}